.header .logo-wrapper .logo {
	font-family: Athelas,STHeiti,Microsoft Yahei,serif;
	line-height: 48px;
	font-size: 32px
}

.mobile-navbar .mobile-header-logo .logo {
	font-family: Athelas,STHeiti,Microsoft Yahei,serif;
}